body::-webkit-scrollbar{
  background-color: rgba(134, 132, 132, 0.152);
}
body::-webkit-scrollbar-thumb {
    background-color: #0051ff; /* cor da barra interna */
    border-radius:15px;
    
}
.global{
  scroll-behavior: smooth;
}

.row{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: scroll;
  flex-direction: column;
}

.row::-webkit-scrollbar{
  background-color: rgba(134, 132, 132, 0.152);
  border-radius:20px;
  height: 14px;
}
.row::-webkit-scrollbar-thumb{
  background-color: rgb(42, 91, 148) ;
  border-radius:20px;
}

.titulo{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 56.58%, #0c0c0cfa 81%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
}

.titulo h2{
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.imagemPj{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor:pointer;
  filter: blur(0.6px);
  border-radius: 9px;
}

.imagemPj:hover{
  filter: blur(0px); 
}

.closeButton{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.buttonclose{
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  width:10px ;
  height: 10px;

}

.amarelo{
  background-color: #FFD700;
}
.vermelho{
  background-color: red;
}
.verde{
  background-color: #03fd5f;
}


.card:hover {
  background: linear-gradient( rgba(38, 114, 155, 0.305) 0%, #36363678 100%);
}

.card .img {
  height: 200px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  position: relative;
  opacity: .8;
  object-fit: cover;
}


.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content {
  padding: 0px 10px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 0px 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.redirection{
  background-color: beige;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  padding:10px;
  justify-content: center;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .arrow {
  padding: 15px;
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
  display: none;
}

.card .arrow span {
  font-size: 24px;
  color: white;
}

.card {
  width: 300px;
  height: 360px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  padding: 10px ;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border:1px solid #ffffff9c;
  transition: all .5s;
}

.card img{
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  position: relative;
  opacity: .8;
  object-fit: cover;
  filter: blur(1px);
}

.card .content {
  padding: 0px 10px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card .content .desc {
  font-size: 17px;
  font-weight: 400;
  opacity: .8;
  margin-top: 8px;
  color: white;
  text-align: start;
}

.redirection:hover{
  background: #336ecef2;
  transition: 1.5s;
  color: #121212;
  font-weight: bold;
}

.closeButton>a>.fa-github{
    position: absolute;
    right: 10px;
    font-size: 19px;
    top: 5px;
    color: white;
}