.sectionProjects{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.topLangues{
    height: 200px;
    width: 210px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.topLangues span{
    width: 90%;
    font-size: 22px;
}

.langues{
    color:#4AABE2;
    font-size: 32px;
}

.containerProjects{
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;

}

.buttonSection{
    background-color: rgb(25, 34, 60);
    color: #4AABE2;
    padding: 5px;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color:#fff;
    align-items: start;
    text-align: start;
}

.tecnologias{   
    text-align: start;
    font-size: 25px;
    color: #1293e4;
}

@media screen and (max-width: 1000px) {
    .sectionProjects{
        height: 100%;
        padding: 40px 0px;
    }
}
