@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background-color: #090E16;
  
  font-family: 'Raleway', sans-serif;
}


/* Header */
.large-header {
  position: relative;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #4aa3e251;
}

#demo-canvas {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left:0;
} 

.name{
  font-weight: bold;
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.name h2{
  color:#ffffff73;
}

.button{
  background-color: rgb(36, 36, 57);
  fill: Solid  rgba(74, 162, 226, 0.1);
  width: 140px;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  color: #4AA2E2  ;
  cursor: pointer;
  z-index:2;
}

.title-name{
  display: flex;
  font-size: 52px;
  width: auto;
  flex-direction: row;
  color: #3FA0D7;
  font-family: 'Raleway', sans-serif;
}

.icons{
  color: #ffffff73;
  font-size: 23px;
  display: flex;
  align-items: end;
  z-index: 2;
  padding-bottom: 8px;
}

i:hover{
  color:#fff;
  cursor:pointer;
}

.main-title{
  display: flex;
  letter-spacing: 10px;
  flex-wrap: wrap;
  text-align: center;
  width: 330px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}


.main-title span{
  color: #fff;
  letter-spacing: 17px;
}

.iconsHome{
  display: flex;
}

.ocult{
  margin: 10px;
  width: 80px;
  font-size: 25px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .title-name{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-title span{
    letter-spacing: 10px;
  }

  .iconsHome{
    display: none;
  }
  .ocult{
    display: flex !important;
  }
}

@media screen and (min-width: 601px) {
  .ocult{
    display: none ;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#home,
#sobre,
#habilidades,
#projetos,
#contato{
  animation: fadeIn 0.5s ease;
}
#home{
  height: 100%;
}

header {
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 10px !important;
  position: fixed;
  background-color: #090e16d7 !important;
  z-index: 3;
}

nav{
  width: 90%;
  display: flex !important;
  align-items: center;
  padding: 5px !important;
  justify-content: space-around !important;
  border-radius: 15px;
}

nav>a{
  color: white;
}

nav>a:hover{
  color: #0d4585;
  font-weight: bold;
  transition: .3s;
}

.buttonLink{
  cursor: pointer;
  z-index: 2;
}