@media (max-width:900px) {
    .container1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fotoPerfil{
        margin-right: 0px;
        height: 50%;
    }
    .descricao h1{
        margin: 0 auto;
        text-align: center;
    }

    .sobre{
        text-align: center;
    }

    .faleCMG{
        padding: 9px;
        margin:0 auto;
        height: 45px;
    }
    
    .faleCMG:hover{
        height: 47px;
    }
}

@media (max-width:600px) {
    header ul{
        display:none;
    }

    .hamburguer{
        display: flex;
    }
}